# DVC cache (ignore large data files)
.dvc/cache/

# Track the .dvc folder itself
!.dvc/

# Python / VSCode / environment
__pycache__/
*.pyc
.env
.ipynb_checkpoints/
data/      # only ignore raw data if not tracked by DVC
.vscode/
.venv/
